<html>

    <head>
        <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding-left: 10px;
          padding-right: 10px;
        }
        th {
            background-color:lavender;
        }
        </style>

        <title>Website analyser</title>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        
        <script>
            window.onunload = function() { debugger; }

            function sleep (time) {
                console.log("AAAAAAAAAAAAAAAA")
                return new Promise((resolve) => setTimeout(resolve, time));
            }


            function lock_form(lock) {
                console.log("lock?" + lock)
                if(lock) {
                    console.log("DA")
                    $("#send_url_button").text("Wait..."); //TODO ovo bi moglo bolje od ifelsa
                    $("#send_url_button").prop("disabled", true);
                    $("#send_url_text").prop("readonly", true)
                    $("#send_url_text").css("background-color", 'gray')
                } else {
                    console.log("NE")
                    $("#send_url_button").text("Analyze");
                    $("#send_url_button").prop("disabled", false);
                    $("#send_url_text").prop("readonly", false)
                    $("#send_url_text").css("background-color", 'white')

                }
            }

            function show_result(result) {
                $('#result_area').prop('hidden', false);
                $('#title_value').text(result.title);
                $('#descr_value').text(result.description);
                $('#internal_value').text(result.internal_res);
                $('#external_value').text(result.total_res - result.internal_res);
                $('#total_value').text(`${result.total_res - result.secured_res} vs ${result.secured_res}`);
            }

            function hide_result() {
                $('#result_area').prop('hidden', true);
            }

            function api_analyze_website(e) {
                e.preventDefault();
                lock_form(true);
                hide_result();
                $.ajax(
                        {
                            url: "api/webinfo",
                            dataType: "json",
                            data: jQuery.param({'url': $("#send_url_text").val()}),
                            type: 'GET',
                            success: function(data) {
                                console.log(data);
                                lock_form(false);
                                show_result(data);
                            },
                            error: function(request, status, error) {
                                alert("An error occured while fetching info. Please check if FQDN is valid.");
                                lock_form(false);
                            }
                        }
                );
            }

            $(document).ready(function() {
                $('#send_url_button').click(api_analyze_website);
            })


        </script>

    </head>
        
    <body>
        <h1>Website analyser</h1>

        <form>
            <label>Website FQDN: </label>
            <input id="send_url_text" type="text" id="url_text" value="neverssl.com">
            <br>
            <br>
            <button id="send_url_button" type="button">Analyse</button>
        </form>

        <hr>

        <div id="result_area" hidden=true>
            <h2>Result:</h2>

            <table id="result_table">

                <tr>
                    <th>Info</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Title</td>
                    <td id="title_value">Value</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td id="descr_value">Value</td>
                </tr>

                <tr>
                    <td>Number of links and scripts pointing to internal resources</td>
                    <td id="internal_value">Value</td>
                </tr>
                <tr>
                    <td>Number of links and scripts pointing to external resources</td>
                    <td id="external_value">Value</td>
                </tr>
                <tr>
                    <td>Total number of links and scripts served through HTTP vs HTTPS protocol</td>
                    <td id="total_value">Value</td>
                </tr>


            </table>
        </div>
    </body>
</html>